/* Import Tailwind v4 */
@import "tailwindcss";

/* Styles globaux */
html {
	scroll-behavior: smooth;
}

body {
	font-family:
		"Inter", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	background-color: #f7f7f7;
}

/* Root */
#root {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* Retirer les anciennes classes inutiles */
.logo {
	display: none;
}

.card {
	padding: 0;
}

.read-the-docs {
	color: inherit;
}

/* //texte hero  */
@keyframes fadeSlide {
	0% {
		opacity: 0;
		transform: translateY(20px) scale(0.98);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.animate-fadeSlide {
	animation: fadeSlide 1s ease-out forwards;
}

.delay-200 {
	animation-delay: 0.2s;
}
.delay-400 {
	animation-delay: 0.4s;
}
